<section id="banner-wrapper" style="color:#fff">
	<div class="slick">
		<div>
			<div class="banner" style="background-image: url('/images/banner-myagkie-knizhki.jpg')">
				<div class="inner">
					<h2>Мягкие книжки</h2>
					<p>Соберите свою индивидуальную книжку</p>
					<ul class="actions">
						<li><a href="/myagkie-knizhki/" class="button special">Смотреть</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('/images/banner-razvivayushie-igry.jpg')">
				<div class="inner">
					<h2>Развивающие игры</h2>
					<p>Тренируйте навыки играя</p>
					<ul class="actions">
						<li><a href="/razvivayushie-igry/" class="button special">Смотреть</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('/images/banner-aksessuary.jpg')">
				<div class="inner">
					<h2>Аксессуары</h2>
					<p>Создайте уют в детской</p>
					<ul class="actions">
						<li><a href="/aksessuary/" class="button special">Смотреть</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>