<footer id="footer">
	<div class="container special 75%">
		<div class="row double">
			<div class="4u 12u(medium)">
				<ul class="footer-links">
					<li><p>Категории</p></li>
					<li><a href="/myagkie-knizhki/">Мягкие книжки</a></li>
					<li><a href="/razvivayushie-igry/">Развивающие игры</a></li>
					<li><a href="/aksessuary/">Аксессуары</a></li>
				</ul>
			</div>
			<div class="4u 12u$(medium)">
				<ul class="footer-links">
					<li><p>Магазин</p></li>
					<li><a href="/how-to-buy">Как заказать</a></li>
					<li><a href="/contact">Контакты</a></li>
				</ul>
			</div>
			<div class="4u 12u$(medium)">
				<ul class="footer-links">
					<li><p>Мы в сети</p></li>
					<li><a href="https://www.facebook.com/kiddy.trick" rel="nofollow" target="_blank">Facebook</a></li>
					<li><a href="https://www.instagram.com/kiddy.trick/" rel="nofollow" target="_blank">Instagram</a></li>
					<li><a href="https://ru.pinterest.com/KiddyTrick/kiddytrick/" rel="nofollow" target="_blank">Pinterest</a></li>
				</ul>
			</div>
			
		</div>
	</div>
	<ul class="copyright">
		<li>&copy; KiddyTrick 2017. All rights reserved.</li>
		<li>Design: KiddyTrick</li>
	</ul>
</footer>