<nav id="nav">
	<section class="special">
		<header>
			<h2>Меню</h2>
		</header>
		<div class="row">
			<div class="12u$">
				<ul class="links">
					<li><p>Категории</p></li>
					<li><a href="/myagkie-knizhki/">Мягкие книжки</a></li>
					<li><a href="/razvivayushie-igry/">Развивающие игры</a></li>
					<li><a href="/aksessuary/">Аксессуары</a></li>
				</ul>
			</div>
			<div class="12u$">
				<ul class="links">
					<li><p>Магазин</p></li>
					<li><a href="/how-to-buy">Как заказать</a></li>
					<li><a href="/contact">Контакты</a></li>
				</ul>
			</div>
			<div class="12u$">
				<ul class="links">
					<li><p>Мы в сети</p></li>
					<li><a href="https://www.facebook.com/kiddy.trick" rel="nofollow" target="_blank">Facebook</a></li>
					<li><a href="https://www.instagram.com/kiddy.trick/" rel="nofollow" target="_blank">Instagram</a></li>
					<li><a href="https://ru.pinterest.com/KiddyTrick/kiddytrick/" rel="nofollow" target="_blank">Pinterest</a></li>
				</ul>
			</div>
		</div>
	</section>
</nav>