<section id="pre-footer" class="container 75% special">
	<header>
		<h3>О нас</h3>
	</header>
	<p>Добро пожаловать! Магазинчик Kiddy Trick - это небольшая творческая мастерская, которая рада предложить Вам и Вашим детям мягкие развивающие игрушки из натурального хлопка и фетра.</p>
	<ul class="actions icons">
		<li><a href="https://www.facebook.com/kiddy.trick" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
		<li><a href="https://www.instagram.com/kiddy.trick/" rel="nofollow" target="_blank"><i class="fa fa-instagram"></i>Instagram</a></li>
		<li><a href="https://ru.pinterest.com/KiddyTrick/kiddytrick/" rel="nofollow" target="_blank"><i class="fa fa-pinterest"></i>Pinterest</a></li>
	</ul>
</section>