<section id="pre-footer" class="container 75% special">
	<header>
		<h3>О нас</h3>
	</header>
	<p>Добро пожаловать! Магазинчик KiddyTrick рад предложить Вам и Вашим детям мягкие развивающие игрушки. Основной материал наших работ - натуральный хлопок и экофетр. Главные вдохновители - дети и их окружение. Мы всегда доступны для любых вопросов, связанных с нашей продукцией.</p>
	<ul class="actions icons">
		<li><a href="https://www.facebook.com/kiddy.trick" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
		<li><a href="https://www.instagram.com/kiddy.trick/" rel="nofollow" target="_blank"><i class="fa fa-instagram"></i>Instagram</a></li>
		<li><a href="https://ru.pinterest.com/KiddyTrick/kiddytrick/" rel="nofollow" target="_blank"><i class="fa fa-pinterest"></i>Pinterest</a></li>
	</ul>
</section>