<!DOCTYPE HTML>

<html>
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body id="top" class="is-loading">
		<div id="page-wrapper">
		<!-- Header -->
		{% include header.html %}	
		<!-- Nav -->
		{% include nav.html %}		
		<!-- Main -->
			<div id="not-main">
				<article  class="special">
					<section id="product-hero" class="product-section">
						<div class="row">
							{% assign img_array = "" | split:"," %}
							{% for file in site.static_files %}
								{% if file.path contains page.url %}
									{% assign img_array = img_array | push: file.path %}
								{% endif %}
							{% endfor %}
							
							<div class="7u 12u(medium)">
								<div class="image fit">
									<img src="{{img_array[0]}}" alt='{{page.product-name}}'/>
								</div>
							</div>
							<div class="5u 12u(medium)">
								<div class="hero-block">
									{% assign url_list = page.url | split: '/' %}
									{% assign prod_name = url_list | last %}
									{% assign back_url = page.url | remove: prod_name %}
									
									{% for product in site.catalog %}
										{% if product.url == back_url %}
											{% assign cat_name = product.page-title %}
										{% endif %}
									{% endfor %}
									<div class="view-more">
										<a href="{{back_url}}">{{cat_name}}</a>						
									</div>
									<h1>{{page.product-name}}</h1>
									<p>{{page.product-desc}}</p>
									<ul>
										<li><span>Рекомендованный возраст:</span> {{page.product-year}}</li>
										<li><span>Размер:</span> {{page.product-size}}</li>
										<li><span>Срок изготовления:</span> {{page.product-time}}</li>
									</ul>
									{% if page.product-asteriks %}
									<p>{{ page.product-asteriks }}</p>
									{% endif %}
									<ul class="actions align-center">
										<li><span class="price">{{page.product-price}} &#8381;</span></li>
										<li><span class="button alt big modal-open" data-modal="modal-order">Заказать</span></li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					{% if img_array.size > 0 %}
					<section id="photo" class="product-section">
						<header>
							<h2>Фотографии</h2>
						</header>
						<div class="row uniform 25%">
							{% for img in img_array %}
							{% if forloop.index==1 %}
								{% continue %}
							{% endif %}
							<div class="4u 6u(medium) 12u(small)">
								<img class="image fit" src="{{img}}" alt='{{page.product-name}}-{{forloop.index}}'/>
							</div>
							{% endfor %}
						</div>
					</section>
					{% endif %}
					{% if page.product-video %}
					<section id="video" class="product-section container">
						<header>
							<h2>Видео</h2>
						</header>
						{{page.product-video}}
					</section>
					{% endif %}
					{% if page.related %}
					<section id="frontpage-grid">
						<header>
							<h2>Вам также может понравиться</h2>
						</header>
						<div class="row 0%">
							{% for rel-product in page.related %}
								{% for product in site.catalog %}
									{% if product.url contains rel-product %}
										<div class="3u 4u(large) 6u(small)">
											<a href="{{ product.url }}" class="copperi-link">
												<div class="inner-wrapper product">	
													<img class="image fit pop" src="/images/catalog/{{product.product-model}}-small.jpg" alt="{{product.product-title}}">
													<h3>{{ product.product-name }}</h3>
													{% assign first-model = site.data[product.product-type] | first%}
													<p>{{ first-model.price }}</p>
												</div>	
											</a>
										</div>
									{% endif %}
								{% endfor %}
							{% endfor %}
							
							
						</div>
						
					</section>
					
					{% endif %}
					{% include pre-footer.html %}
				</article>
			</div>
		<!-- Footer -->
		{% include footer.html %}	
		<!-- Scripts -->
		{% include scripts.html %}	
		</div>
		<!-- The Modal -->
		<div id="modal-order" class="modal">

			<!-- Modal content -->
			<div class="modal-content special">
				<span id="modal-close-order" class="modal-close" data-close="modal-order"></span>
				<form action="#" class="ajax-form">
					<h3>Заказ</h3>
					<input type="text" class="name" name="name" placeholder="Ваше имя*" required>
					<input type="email" class="email" name="email" placeholder="Ваш e-mail*" required>
					<textarea rows="5" name="message" class="message" placeholder="Ваше сообщение*" required></textarea>
					<input style="display:none" type="text" class="product" name="product" id="product-order" value="">
					<ul class="actions">
						<li><input type="submit" class="submit button fit" value="Отправить"></li>
					</ul>
				</form>
				<div class="form-succes" style="display:none;">
					 <h3>Спасибо!</h3>
					 <p>Мы свяжемся с Вами в самое ближайшее время!</p>
				</div>
				<div class="form-error" style="display:none;">
					 <h3>Ой!</h3>
					 <p>Что-то пошло не так. Попробуйте отправить заказ чуть позже или просто позвоните нам.</p>
				</div>
			</div>

		</div>
	</body>
</html>